body {
    margin: 0;
}

#container {
    display: grid;
    grid-template-rows: auto 1fr auto; /* Header, Main Section, Footer */
    grid-template-columns: 13% 97%; /* Sidebar, Main Body */
    height: 100%;
    width: 100%;
}

header {
    font-size: 30px;
    color:black;
}

#header, #footer {
    grid-column: span 2; /* Span both columns */
    background-color: #f2f2f2;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid lightgray;
}

#footer {
    margin-top: auto;
}

#sidebar {
    background-color: #333;
    color: #fff;
    padding: 1px;
}

#loginForm {
    width: 35%;
    margin: 0 auto;

}

#main_section {
    align-items: center;
    justify-content: center;
    padding: 15px;
    background-color: #fff;
    text-align: center;
    width: 90%;
    height: 95%;
 }

.label {
    display: block;
    margin-bottom: 10px;
    text-align: left;
    align-items: center;
}

input {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

button {
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
    height: 50px;
    font-size: 20px;
}

button:hover {
    background-color: #45a049;
}

/* Container styles */
.header_container {
    display: grid;
    grid-template-columns: 90% 10%;
    align-items: center;
    padding: 10px;
    width: 80%;
}

/* Title styles */
#title {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;   
}

/* Apply styles to the link to make it look like a button */
.button-like-link {
    justify-content: right;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    background-color: #4CAF50; /* Green background color */
    color: white; /* White text color */
    border: 1px solid #4CAF50; /* Green border color */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer;
    height: 20px;
    width: 50px;
    font-size: 15px;
}

/* Add hover effect */
.button-like-link:hover {
    background-color: #45a049;
}

ul {
    margin: 0; /* Reset default margin */
    padding: 0; /* Reset default padding */
}

.item {
    text-align: left;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none;
    padding-bottom: 5px;
}

.item:nth-child(2) {
    border-bottom: 1px solid #ccc;
}

.item:nth-child(3) {
    padding-top: 5px;
}

.item:hover {
    background-color: #555; /* Adjust color on hover as needed */
}

#side-container {
    display: flex;
    width:100%;
}

#left {
    width: 10%;
    height: 100vh;
    background-color: #ddd; /* Light grey background color */
}

#right {
    width: 90%;
    background-color: #333; /* Dark background color */
    color: white; /* Text color */
    padding: 20px; /* Adjust padding as needed */
    box-shadow: 2px 2px 0 rgba(255, 255, 255, 255) inset; /* Inset box shadow */
}

#teacher_list_table {
    width: 90%;
    border-collapse: collapse;
    justify-content: center;
    margin-left: 20px;
    background-color: #fff; /* Set background color to white */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
}

.teacher_list_header {
    background-color: darkslategray; /* Set background color to green */
    color: white;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

.teacher_list_data {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd; /* Add a border to separate rows */
}

/* Alternate row background color for a green bar paper effect */
#teacher_list_table tr:nth-child(even) {
    background-color: #f2f2f2; /* Set a light green color */
}