body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #5c5a5a;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.studentInformation {
    display: flex;
    color: #2c2b2b;
    background-color: rgb(233, 224, 224);
    text-align: center;
    justify-content: space-around; /* or justify-content: space-between; */
    align-items: center;
}

.studentInformation p {
    margin: 0; /* Remove default margin */
}

main {
    margin-top: 60px; /* Adjust according to the header height */
    padding: 20px;
    align-items: center;
}

h2, h3 {
    text-align: center;
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 200px;
}

.image-row {
    display: flex;
    justify-content: space-around;
    width: 100%; /* ensure full width */
    margin-top: 10px;
    margin-bottom: 20px;
}

.image-container {
    display: grid;
    grid-template-rows: 2fr auto; /* One row for the image, one for the radio group at the bottom */
    text-align: center;
    margin: 0 10px 20px;
    border: 2px solid #918f8f;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 33.3%;
    justify-content: center;
}

img {
    width: 100%;
    height: auto;
    border-radius: 6px;
}

label {
    margin: 0 15px 0 0; /* Adjust the right margin value as needed */
}

.button-container {
    display: flex;
    justify-content: center;
}

button {
    display: inline-block;
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 150px; /* Adjust to a specific pixel value or use a percentage */
    font-size: 16px;
    margin: 0 auto; /* Center the button horizontally */
}

/* Add these styles for the new container */
.radio-group {
    display: flex;
    flex-direction: row; /* Display radio buttons horizontally */
    align-items: center;
    justify-content: center;
}

/* Style for individual radio buttons */
.radio-group input[type="radio"] {
    margin: 0 5px; /* Adjust the margin between radio buttons as needed */
}
/* Media query for screens up to 767 pixels wide (typical for mobile devices) */
@media (max-width: 767px) {
    /* Add these styles for the new container */

    .radio-group {
        display: flex;
        flex-direction: column; /* Display radio buttons vertically */
        align-items: center;
        min-width: 200px;
        white-space: nowrap;
    }

    /* Style for individual radio buttons */
    .radio-group input[type="radio"] {
        margin: 5px; /* Adjust the margin for vertical spacing as needed */
        min-width: 20%;
    }

}
